<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aggiungi Dipinto</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Aggiungi un nuovo Dipinto</h1>
    <form action="/api/dipinti/aggiungi" method="post">
        <label for="titolo">Titolo:</label>
        <input type="text" id="titolo" name="titolo"><br><br>
        <label for="autore">Autore:</label>
        <input type="text" id="autore" name="autore"><br><br>
        <label for="anno">Anno:</label>
        <input type="number" id="anno" name="anno"><br><br>
        <button type="submit">Aggiungi</button>
    </form>
</body>
</html>